.bg{
background-image: url(../../images/bookcarbg.jpg);
display:flex;
background-repeat: no-repeat;
background-size: cover;
}

.frm{
    background: #cac9c9;
    opacity: 0.65;
    padding-left: 15px;
    padding-top: 25px;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 620px;
    font-family: 'Vollkorn', serif;
    border-style: double;
    border-color: black;
    color: #f065a6; 
}

.pickup{
    height:70px;
    width: 380px;
    margin-left: 30px;
    box-shadow:0 0 15px 4px wheat;
}

.city{
    height:35px;
    width:150px;
    margin-left: 10px;
    margin-right: 60px;
    box-shadow:0 0 15px 4px wheat;
}

.state{
    box-shadow:0 0 15px 4px wheat;
}

.form-control{
    margin-left: 10px;
    width:165px;
}

.dlid{
    margin-top: 10px;
    margin-left: 20px;
    height: 50px;
    width:250px;
    box-shadow:0 0 15px 4px wheat;
}

.submit{
    margin-left: 100px;
}

.detailss{
    margin-top: 40px;
    margin-left: 50px;
    color:#ff751a;
}

.jst{
    font-size: 50px;
    font-family: 'Mogra', cursive;
}

.fill{
    font-size: 35px;
    font-family: 'Shojumaru', cursive;
}