/* .back-img{ */
    /* background-image: url(../../images/blue-compact-suv-car-luxury-design-parked-concrete-road-by-sea-sunset_33867-56\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100vh; */
/* } */